{% extends 'base.html' %}


{% block title %}Create Itinerary{% endblock %}


{% block body %}
<h1>Create Your Itinerary</h1>

<form action="/create-itinerary" method="POST">
    <div>
        <label for="itinerary-name">Itinerary Name:</label>
        <input type="text" name="name" id="itinerary-name">
    </div>

    <div>
        <label for="itinerary-start">Start Date:</label>
        <input type="date" name="start-date" id="itinerary-start">
    </div>

    <div>
        <label for="itinerary-end">End Date:</label>
        <input type="date" name="end-date" id="itinerary-end">
    </div>


    <div>
        <button type="submit">Create New Itinerary</button>
    </div>
</form>
{% endblock %} 





