{% extends 'base.html' %}

{% block body %}

    {% for msg in get_flashed_messages() %}
        <p class="flash-msg">{{ msg }}</p>
    {% endfor %}


<h1>Welcome!</h1>
<h5>Log In to Your Account</h5>

<form action="/log-in" method="POST">
    <div>
        <label for="user-email">Email</label>
        <input type="text" name="email" id="user-email">
    </div>

    <div>
        <label for="user-email">Password</label>
        <input type="text" name="password" id="user-password">
    </div>

    <div>
        <button type="submit">Log In</button>
    </div>
</form>
{% endblock %}