{% extends 'base.html' %}


{% block title %}Sign Up{% endblock %}


{% block body %}
    
    {% for msg in get_flashed_messages() %}
        <p class="flash-msg">{{ msg }}</p>
    {% endfor %}

    <h1>Create an Account</h1>
    <h5>Sign up to start planning for your next adventure!</h5>

    <form action="/sign-up" method="POST">
        <div>
            <label for="user-fname">First Name</label><br>
            <input type="text" name="fname" id="user-fname" placeholder="Enter first name">
        </div>

        <div>
            <label for="user-lname">Last Name</label><br>
            <input type="text" name="lname" id="user-lname" placeholder="Enter last name">
        </div>

        <div>
            <label for="user-email">Email Address</label><br>
            <input type="text" name="email" id="user-email" placeholder="Enter email address">
        </div>

        <div>
            <label for="user-password">Password</label><br>
            <input type="password" name="password" id="user-password" placeholder="Enter password">
        </div>

        <div>
            <button type="submit">Create Account</button>
        </div>
    </form>
    
    <p>Already have an account? <a href="/log-in">Click here to log in.</a></p>

{% endblock %}